---
import LayoutInit from "@/layout/LayoutInit.astro";

---

<LayoutInit
    title="Página no encontrada"
    description="Lo sentimos, la página que buscas no existe. Vuelve al inicio o contacta con nosotros para más información."
    keywords="404, página no encontrada, error, awanta, préstamos, micropréstamos"
>
        <div  class=" flex items-center pt-32 h-[calc(100vh-22rem)] font-poppins text-main" >
            <div class=" mx-auto text-center" >   
                <h1 class="text-8xl font-black" >404</h1>
                <p class="font-black text-3xl" >Page not found</p>
                <p class="font-black text-3xl" >Todavia en desarrollo</p>
                <a href="/">
                    <button class="mt-5 bg-main px-4 py-2 rounded-xl font-poppins text-xl text-white">
                        Volver al inicio
                    </button>
                </a>
            </div>
        </div>
</LayoutI>